.container-skills{
    margin-top: 10rem;

    & .title{
        text-align: center;
        font-family: $title;
        font-size: 3.4rem;
        color: $secundaria;
        padding-bottom: 4rem;
    }
    
    & .cards {
        align-items: center;
        text-align: center;
        gap: 0.8rem;
        max-width: 1000px;
        margin: 0 auto;
        justify-content: center;
    }
    
    & .item-card{
        background-color: $branco;
        border-radius: 0.6rem;
        padding: 1.5rem;
        & h2{
            padding-top: 0.4rem;
            font-size: 1.5rem;
            font-weight: 600;
            color: $primaria;
        }
        
    }
    
}

@media screen and (max-width: 575.98px) {
    .container-skills{
        & .title{
            font-size: 3rem;
            padding-bottom: 2.5rem;
        }
        
        & .cards {
            gap: 0.5rem;
        }
        
        & .item-card{
            padding: 0.25rem;
            & h2{
                font-size: 0.7rem;
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 991.98px) {
    .container-skills{
        & .title{
            font-size: 3rem;
            padding-bottom: 2.5rem;
        }
        
        & .cards {
            gap: 0.5rem;
        }
        
        & .item-card{
            padding: 1.1rem;
            & h2{
                font-size: 0.9rem;
            }
        }
    }
}