// Padrão de cores modo Dark
$preto: #1E2326;
$branco: #ffffff;
$primaria: #00010B;
$secundaria: #EE346D;

// Tipografia
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Righteous&display=swap');

$title: 'Righteous', sans-serif;
$content: 'Open Sans', sans-serif;
