
* { 
    margin: 0; 
    padding: 0; 
    outline: 0; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

body {
    font-family: $title, $content, sans-serif;
    background-color: $primaria;
    color: $branco;
}

/* Barra de rolagem: Firefox */
*{
    scrollbar-width: thin;
    scrollbar-color: $branco $primaria;
}
  
/*Barra de rolagem: Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.5rem;
}
  
*::-webkit-scrollbar-track {
    background: $primaria;
}

*::-webkit-scrollbar-thumb {
    background-color: $branco;
    border-radius: 1.5rem;
    height: 1rem;
}