.container_projects{
  margin: 10rem 0; 
  
  & .title{
    text-align: center;
    font-family: $title;
    font-size: 3.4rem;
    color: $secundaria;
    padding-bottom: 3rem;
  }

  & .swiper {
    width: 88%;
    height: 60%;
    padding-top: 2rem;
  }
  
  .swiper-slide {
    background-color: $branco;
    padding: 1rem;
    border-radius: 1rem;
    
    & .cards{

      & img{
        width: 100%; 
        height: 11.9rem;
        border-radius: 0.7rem;
      }

      & .card-info{
        padding-top: 1rem;

        & .card-titulo {
          font-size: 24px;
          font-family: $title;
          color: $secundaria;
          font-weight: 500;
        }
  
        & p {
            font-size: 1rem;
            color: $primaria;
            font-weight: 500;
        }
      }
    }
  }

  & .botoes{
    margin: 0 auto;
    display: inline-flex;
    gap: 0.5rem;

    & .botao{
      background-color: $primaria;
      text-decoration: none;
      color: $branco;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 767.98px) {
  .container_projects{
  
    & .title{
      font-size: 3rem;
      padding-bottom: 1rem;
    }
  }  
}
