.container_projects{
  margin: 10rem 0; 
  
  & .title{
    text-align: center;
    font-family: $title;
    font-size: 3.4rem;
    color: $secundaria;
    padding-bottom: 3rem;
  }

  & .swiper {
    width: 90%;
    padding-top: 2rem;
    
    & .swiper-pagination{
      position: relative;
      bottom: 0;
      top: 0.3rem;
    }
    & .swiper-pagination-bullet{
      background-color: $branco;
      width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,12px));
      height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,12px));
      
      opacity: var(--swiper-pagination-bullet-inactive-opacity, .8);
    }     
    & .swiper-pagination-bullet-active{
      background-color: $secundaria;
    }
  }
  
  .swiper-slide {
    background-color: $branco;
    padding: 1rem;
    border-radius: 1rem;
    height: auto;
    & .cards{

      & img{
        width: 100%; 
        height: 11.9rem;
        border-radius: 0.7rem;
      }

      & .card-info{
        & .card-titulo {
          margin-top: 0.5rem;
          font-size: 24px;
          font-family: $content;
          color: $primaria;
          font-weight: 700;
        }
  
        & p {
          font-size: 1rem;
          color: $primaria;
          font-family: $content;
          font-weight: 600;
          height: 3rem;
        }

        & .botao{
          display: flex;
          width: 100%;
          padding: 0.2rem 0;
          background-color: $primaria;
          color: $branco;
          font-size: 1.7rem;
          justify-content: center;
        }
      }
    }
  }
  
}

@media screen and (max-width: 887.98px) {
  .container_projects{
  
    & .title{
      font-size: 3rem;
      padding-bottom: 1rem;
    }
  }  
}
