#projects{
  background-color: $secundaria;
}
.container_projects{
  padding-top: 3.5rem;
  padding-bottom: 4rem;
  & .title{
    text-align: center;
    font-family: $title;
    font-size: 2rem;
    color: $branco;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  & .swiper {
    width: 90%;
    
    & .swiper-pagination{
      position: relative;
      bottom: 0;
      top: 0.3rem;
    }
    & .swiper-pagination-bullet{
      background-color: $primaria;
      width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,12px));
      height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,12px));
      
      opacity: var(--swiper-pagination-bullet-inactive-opacity, .8);
    }     
    & .swiper-pagination-bullet-active{
      background-color: $branco;
    }
  }
  
  .swiper-slide {
    background-color: $primaria;
    padding: 0.7rem;
    border-radius: 0.4rem;
    height: auto;
    & .cards{

      & img{
        width: 100%; 
        height: 9rem;
        border-radius: 0.4rem;
      }

      & .card-info{
        & .card-titulo {
          margin-top: 0.5rem;
          font-size: 1.2rem;
          font-family: $content;
          color: $branco;
          font-weight: 600;
        }
  
        & p {
          font-size: 0.9rem;
          color: $branco;
          font-family: $content;
          height: 3rem;
        }

        & .access-github{
          display: flex;
          width: 100%;
          padding: 0.2rem 0;
          background-color: $branco;
          color: $secundaria;
          font-size: 1.7rem;
          justify-content: center;
          border-radius: 0.4rem;
        }

        & .access-github:hover{
          -webkit-transform: scale(1.05);
          transform: scale(1.05);
        }
      }
    }
  }
  
}

@media screen and (max-width: 887.98px) {
  .container_projects{
  
    & .title{
      font-size: 2rem;
      padding-bottom: 1rem;
    }
  }  
}
