.container-about{
  margin-top: 10rem;
  max-width: 100%;
  & .title{
    font-family: $title;
    font-size: 3.3rem;
    color: $secundaria;
  }

  & .content-about{
    margin-top: 3rem;

    & .card-body{
  
      & .card-text{
        font-family: $content;
        font-size: 1.1rem;
        color: $branco;
        font-weight: 600;
      }
  
      & span{
        color: $secundaria;
      }
    }

    & .image_dev_about{
      width: 100%;
    }
  }
}



//   .button {
//     $speed: 0.5s;
//     text-align: center;
//     padding-top: 1rem;
//     font-size: 1.2rem;
  
//     .btn-download{
//       opacity: 1;
//       outline: 0;
//       color: $secundaria;
//       line-height: 3rem;
//       width: 13rem;
//       position: relative;
//       text-align: center;
//       display: inline-block;
//       text-decoration: none;
//       font-family: $title;
//       text-transform: uppercase;
//       border-radius: 0.8rem;
//       border: 1px solid $primaria;
  
//       &:hover{
          
//           &:after{
//               opacity: 1;
//               transform: translateY(0) rotateX(0);
//           }
          
//           &:before{
//               opacity: 0;
//               transform: translateY(50%) rotateX(90deg);
//           }
//       }
      
//       &:after{
//           top: 0;
//           left: 0;
//           opacity: 0;
//           width: 100%;
//           color: $branco;
//           display: block;
//           transition: $speed;
//           position: absolute;
//           background: $secundaria;
//           content: attr(data-back);
//           transform: translateY(-50%) rotateX(90deg);
//           border-radius: 0.5rem;
//       }
      
//       &:before{
//           top: 0;
//           left: 0;
//           opacity: 1;
//           color: $secundaria;
//           display: block;
//           padding: 0 30px;
//           line-height: 3rem;
//           transition: $speed;
//           position: relative;
//           background: $branco;
//           content: attr(data-front);
//           transform: translateY(0) rotateX(0);
//           border-radius: 0.5rem;
//       }
//     }
//   }    
//}
  

@media screen and (max-width: 992.98px) {
  .container-about{
    margin-top: 8rem;

    & .title{
      font-size: 3rem;
      padding-bottom: 0;
    }
  
    & .content-about{
      & .image_dev_about{
        width: 100%;
      }

      & .card-body{
        margin-top: 1rem;
        & .card-text{
          font-size: 0.9rem;
          text-align: center;
        }
      }
    }
  }
}

  