.content{
    height: 36rem;
  }
  
  .title{
    text-align: center;
    font-family: Righteous;
    font-size: 3.4rem;
    color: $branco;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
  
  .card-main{
    background-color: $azulEscuro;
    width: 94%;
    height: 26rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
  
    & .card-body{
      padding-bottom: 3rem;
  
      & .card-text{
        font-family: Work Sans;
        font-size: 1.35rem;
        text-align: left;
        color: $branco;
      }
  
      & span{
        color: $verde;
      }
    }

    & .button {
        margin-bottom: 1.7rem;

        $speed: 0.5s;

        .btn-download{
            opacity: 1;
            outline: 0;
            color: #fff;
            line-height: 40px;
            position: relative;
            text-align: center;
            letter-spacing: 1px;
            display: inline-block;
            text-decoration: none;
            font-family: Righteous;
            text-transform: uppercase;
            border-radius: 10px;
            border: 1px solid $azulEscuro;

            &:hover{
                
                &:after{
                    opacity: 1;
                    transform: translateY(0) rotateX(0);
                }
                
                &:before{
                    opacity: 0;
                    transform: translateY(50%) rotateX(90deg);
                }
            }
            
            &:after{
                top: 0;
                left: 0;
                opacity: 0;
                width: 100%;
                color: $verde;
                display: block;
                transition: $speed;
                position: absolute;
                background: $branco;
                content: attr(data-back);
                transform: translateY(-50%) rotateX(90deg);
                border-radius: 10px;
                border: 1px solid $white;
            }
            
            &:before{
                top: 0;
                left: 0;
                opacity: 1;
                color: $branco;
                display: block;
                padding: 0 30px;
                line-height: 40px;
                transition: $speed;
                position: relative;
                background: $verde;
                content: attr(data-front);
                transform: translateY(0) rotateX(0);
                border-radius: 8px;
                border: 1px solid $verde;
            }
        }
    }    
  
}


