.content-about{
  height: 40rem;

  & .card-main{
    background-color: $azulEscuro;
    width: 94%;
    height: 23rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
  
    & .card-body{
      padding-right: 3rem;

      & .title{
        text-align: center;
        font-family: Righteous;
        font-size: 3.4rem;
        color: $azul;
        padding-bottom: 1rem;
      }
  
      & .card-text{
        font-family: Work Sans;
        font-size: 1.3rem;
        text-align: left;
        color: $branco;
      }
  
      & span{
        color: $verde;
      }
    }
  }

  .button {
    $speed: 0.5s;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.2rem;
  
    .btn-download{
      opacity: 1;
      outline: 0;
      color: $azulEscuro;
      line-height: 3rem;
      width: 13rem;
      position: relative;
      text-align: center;
      display: inline-block;
      text-decoration: none;
      font-family: Righteous;
      text-transform: uppercase;
      border-radius: 0.8rem;
      border: 1px solid $azulEscuro;
  
      &:hover{
          
          &:after{
              opacity: 1;
              transform: translateY(0) rotateX(0);
          }
          
          &:before{
              opacity: 0;
              transform: translateY(50%) rotateX(90deg);
          }
      }
      
      &:after{
          top: 0;
          left: 0;
          opacity: 0;
          width: 100%;
          color: $branco;
          display: block;
          transition: $speed;
          position: absolute;
          background: $verde;
          content: attr(data-back);
          transform: translateY(-50%) rotateX(90deg);
          border-radius: 0.5rem;
      }
      
      &:before{
          top: 0;
          left: 0;
          opacity: 1;
          color: $branco;
          display: block;
          padding: 0 30px;
          line-height: 3rem;
          transition: $speed;
          position: relative;
          background: $azul;
          content: attr(data-front);
          transform: translateY(0) rotateX(0);
          border-radius: 0.5rem;
      }
    }
  }    
}
  

@media screen and (max-width: 767.98px) {
  .content-about{
    height: 27rem;

    & .card-main{
      background-color: $azulEscuro;
      width: 90%;
      height: 15rem;
    
      & .card-body{
  
        & .title{
          text-align: center;
          font-size: 3rem;
          padding-bottom: 0;
        }
    
        & .card-text{
          font-size: 0.9rem;
          text-align: center;
        
        }
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .content-about{
    height: 27rem;

    & .card-main{
      width: 95%;
      height: 17rem;

      & .card-body{
  
        & .title{
          font-size: 3rem;
          padding-bottom: 0;
        }
    
        & .card-text{
          font-size: 0.9rem;
        }
      }
    }
  }
}