
.navbar{
    height: 3.75rem;
    background-color: $azulEscuro;
    padding: 0 5.5rem;
}

.navbar-brand{
    color: $azul;
    font-family: Righteous;
    font-size: 2.8rem;

}

.navbar-collapse{

    & .nav-link{
        color: $branco;
        font-size: 1.5rem;
        font-family: Work Sans;
        font-weight: 500;
    }
}
