.footer-container{
    border-top: 0.01rem solid #282A36;
    background-color: $primaria;

    & p{
        font-size: 1rem;
        font-weight: 500;
        color: $branco;
        margin-bottom: 0;
        font-family: $content;
    }

    & span{
        color: $branco;
        font-weight: 600;
        font-size: 1rem;
    }
}

@media screen and (max-width: 575.98px) {
    .footer-container{
        & p{
            font-size: 0.6rem;
        }
    
        & span{
            font-size: 0.6rem;
        }
    }
}