.footer-container{
    border-top: 0.1rem solid $branco;
    background-color: $primaria;

    & p{
        font-size: 1.2rem;
        font-weight: 500;
        color: $branco;
        margin-bottom: 0;
    }

    & span{
        color: $secundaria;
        font-weight: 600;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 575.98px) {
    .footer-container{
        & p{
            font-size: 1rem;
        }
    
        & span{
            font-size: 1rem;
        }
    }
}